# Environment / Secret variables
.env
*.env

# Python Byte-code / cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
logs/
